smartRoom.json
[{"id":"f63f216a.384d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"80ce28c6.ec7f38","type":"ui_tab","z":"","name":"스마트 객실","icon":"dashboard"},{"id":"eb83124c.691fc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#3ab5e2","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#3ab5e2","edited":true},"page-titlebar-backgroundColor":{"value":"#3ab5e2","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#7dceec","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#3ab5e2","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}}},"site":{"name":"스마트객실","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"30be8051.96514","type":"ui_group","z":"","name":"객실 메세지","tab":"80ce28c6.ec7f38","order":2,"disp":true,"width":"17","collapse":false},{"id":"825a16dd.1ec728","type":"ui_group","z":"","name":"룸서비스","tab":"80ce28c6.ec7f38","order":3,"disp":true,"width":"17","collapse":false},{"id":"3e8612b5.5b4a4e","type":"ui_group","z":"","name":"객실","tab":"80ce28c6.ec7f38","order":2,"disp":true,"width":"34","collapse":false},{"id":"4ede7f19.91995","type":"mqtt-broker","z":"","name":"","broker":"163.152.223.99","port":"8883","tls":"61d3698.b46ee98","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61d3698.b46ee98","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"ca_pl.crt","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"8f2932b5.b67ae","type":"comment","z":"f63f216a.384d","name":"MQTT Code ( Hardware -> WAS )","info":"","x":160,"y":20,"wires":[]},{"id":"53dcfa55.a754b4","type":"http in","z":"f63f216a.384d","name":"","url":"/rooms/:roomNum/guests","method":"post","upload":false,"swaggerDoc":"","x":210,"y":2120,"wires":[["470d8a83.f2c544"]]},{"id":"f6233858.e3a788","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":930,"y":2200,"wires":[]},{"id":"f8a7812a.f4522","type":"ui_toast","z":"f63f216a.384d","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"확인","cancel":"","topic":"","name":"키 발급 알람","x":1310,"y":2300,"wires":[[]]},{"id":"83667100.8cd73","type":"firebase modify","z":"f63f216a.384d","name":"객실 투숙객 DB 데이터 추가","firebaseconfig":"","childpath":"msg.childpath","method":"push","value":"msg.payload","priority":"msg.priority","x":740,"y":2120,"wires":[["4bad5b3e.e34284"]]},{"id":"97232fe6.69f07","type":"comment","z":"f63f216a.384d","name":"키 발급 & 추가 키 발급","info":"","x":140,"y":2060,"wires":[]},{"id":"bfae6d5d.eb23b","type":"comment","z":"f63f216a.384d","name":"관리자 페이지 HTML & SCRIPT Code","info":"","x":170,"y":1100,"wires":[]},{"id":"4869a881.4ec948","type":"ui_template","z":"f63f216a.384d","group":"","name":"CDN","order":0,"width":0,"height":0,"format":"<!-- JQuery -->\n<!--<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>-->\n<!-- Bootstrap tooltips -->\n<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js\"></script>\n<!-- Bootstrap core JavaScript -->\n<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js\"></script>\n<!-- MDB core JavaScript -->\n<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/js/mdb.min.js\"></script>\n<!-- MDBootstrap Datatables  -->\n<script type=\"text/javascript\" src=\"https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-print-1.5.2/sl-1.2.6/datatables.min.js\"></script>\n\n<!--<script type=\"text/javascript\" charset=\"utf8\" src=\"https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js\"></script>-->\n<!--<script type=\"text/javascript\" charset=\"utf8\" src=\"https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js\"></script>-->\n<!--<script type=\"text/javascript\" charset=\"utf8\" src=\"https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js\"></script>-->\n<!--<script type=\"text/javascript\" charset=\"utf8\" src=\"https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js\"></script>-->\n\n\n\n<!-- Font Awesome -->\n<link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.3.1/css/all.css\" integrity=\"sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU\" crossorigin=\"anonymous\">\n<!-- Bootstrap core CSS -->\n<link href=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css\" rel=\"stylesheet\">\n<!-- Material Design Bootstrap -->\n<link href=\"https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/css/mdb.min.css\" rel=\"stylesheet\">\n<!-- MDBootstrap Datatables  -->\n<link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.2/b-colvis-1.5.2/b-print-1.5.2/sl-1.2.6/datatables.min.css\"/>\n<!--<link rel=\"stylesheet\" type=\"text/css\" href=\"https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css\">-->","storeOutMessages":false,"fwdInMessages":true,"templateScope":"global","x":350,"y":1280,"wires":[["971b6ff0.88bd5","dee2c57.3821238","ec177b91.4d0c28"]]},{"id":"9840d66b.0efcf8","type":"firebase.once","z":"f63f216a.384d","name":"객실 DB 읽어오기","firebaseconfig":"","childpath":"/rooms","repeatifnull":false,"eventType":"value","queries":[],"x":370,"y":1660,"wires":[["b733142c.958248"]]},{"id":"76542d0d.fe6d24","type":"http in","z":"f63f216a.384d","name":"","url":"/rooms","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1580,"wires":[["a19c8bf5.f0a0f8"]]},{"id":"9d9d6a7a.603488","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":1130,"y":1660,"wires":[]},{"id":"3d31ae59.d5e422","type":"function","z":"f63f216a.384d","name":"데이터 가공 (JSON format)","func":"const datas = [];\n\nfor (var room in msg.guests) {\n    // guests 데이터\n    var guestsInfo = msg.guests[room];\n    \n    var guest;\n    \n    if (typeof guestsInfo !== 'object') { // vacant room\n        guest = {\n            name: '',\n            keyExpDate: ''\n        }\n    } else { // occupied room\n        var guests = Object.keys(guestsInfo);\n        \n        guest = {\n            name: guestsInfo[guests[0]].name,\n            keyExpDate: guestsInfo[guests[0]].keyExpDate\n        }\n    }\n    \n    const data = {\n        roomNum : room,\n        name : guest.name,\n        roomState : msg.rooms[room].roomState,\n        keyExpDate : guest.keyExpDate\n    };\n    \n    datas.push(data);\n}\n\nmsg.payload = datas;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":900,"y":1660,"wires":[["9d9d6a7a.603488"]]},{"id":"971b6ff0.88bd5","type":"ui_template","z":"f63f216a.384d","group":"3e8612b5.5b4a4e","name":"객실 테이블 (IP 수정 필요)","order":0,"width":"34","height":"11","format":"<!-- Publish Key Form Modal -->\n<div class=\"modal fade\" id=\"modalPubKeyForm\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\" data-backdrop=\"static\" keyboard=false>\n    <div class=\"modal-dialog modal-notify modal-info\" role=\"document\">\n        <!--Content-->\n        <div class=\"modal-content\">\n            <!--Header-->\n            <form id=\"pubKeyForm\">\n                <div class=\"modal-header\">\n                    <p class=\"heading lead text-center\">키 발급</p>\n        \n                    <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"> \n                        <span aria-hidden=\"true\" class=\"white-text\">&times;</span>\n                    </button>\n                </div>\n                \n                <div class=\"modal-body mx-3\">\n                    <div class=\"md-form mb-4\">\n                        <i class=\"fas fa-hotel fa-fw prefix grey-text\"></i>\n                        <input type=\"text\" id=\"pubKeyRoomNum\" class=\"form-control validate\" disabled>\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <i class=\"fas fa-address-card fa-fw prefix grey-text\"></i>\n                        <input type=\"text\" id=\"pubKeyName\" class=\"form-control validate\" placeholder=\"이름\">\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <i class=\"fas fa-mobile fa-fw prefix grey-text\"></i>\n                        <input type=\"tel\" id=\"pubKeyMobile\" class=\"form-control validate\" placeholder=\"전화번호(숫자만)\">\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <i class=\"fas fa-key fa-fw prefix grey-text\"></i>\n                        <input type=\"date\" id=\"keyExpDate\" class=\"form-control validate\" min=getDate()>\n                    </div>\n                </div>\n                <div class=\"modal-footer justify-content-center\">\n                    <button type=\"submit\" id=\"pubKeyBtnAdd\" class=\"btn btn-info\">키 발급</button>\n                    <button type=\"button\" class=\"btn btn-outline-info waves-effect\" id=\"pubKeyBtnCancel\" data-dismiss=\"modal\">취소</button>\n                    <!--<a type=\"submit\" class=\"btn btn-info\" id=\"btn_create\">추가</a>-->\n                    <!--<a type=\"button\" class=\"btn btn-outline-info waves-effect\" id=\"btnCancel\" onClick=\"reset()\" data-dismiss=\"modal\">취소</a>-->\n                </div>\n            </form>\n        </div>\n        <!--Content-->\n    </div>\n</div>\n\n\n\n\n\n<!-- Publish Additional Key Form Modal -->\n<div class=\"modal fade\" id=\"modalPubAddKeyForm\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\" data-backdrop=\"static\" keyboard=false>\n    <div class=\"modal-dialog modal-notify modal-info\" role=\"document\">\n        <!--Content-->\n        <div class=\"modal-content\">\n            <!--Header-->\n            <form id=\"pubAddKeyForm\">\n            <div class=\"modal-header\">\n                <p class=\"heading lead text-center\">추가 키 발급</p>\n    \n                <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"> \n                    <span aria-hidden=\"true\" class=\"white-text\">&times;</span>\n                </button>\n            </div>\n                <div class=\"modal-body mx-3\">\n                    <div class=\"md-form mb-4\">\n                        <i class=\"fas fa-hotel fa-fw prefix grey-text\"></i>\n                        <input type=\"text\" id=\"pubAddKeyRoomNum\" class=\"form-control validate\" disabled>\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <i class=\"fas fa-address-card fa-fw prefix grey-text\"></i>\n                        <input type=\"text\" id=\"pubAddKeyName\" class=\"form-control validate\" placeholder=\"이름\">\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <i class=\"fas fa-mobile fa-fw prefix grey-text\"></i>\n                        <input type=\"tel\" id=\"pubAddKeyMobile\" class=\"form-control validate\" placeholder=\"전화번호(숫자만)\">\n                    </div>\n                </div>\n                <div class=\"modal-footer justify-content-center\">\n                    <button type=\"submit\" id=\"pubAddKeyBtnAdd\" class=\"btn btn-info\">추가 키 발급</button>\n                    <button type=\"button\" class=\"btn btn-outline-info waves-effect\" id=\"pubAddKeyBtnCancel\" data-dismiss=\"modal\">취소</button>\n                    <!--<a type=\"submit\" class=\"btn btn-info\" id=\"btn_create\">추가</a>-->\n                    <!--<a type=\"button\" class=\"btn btn-outline-info waves-effect\" id=\"btnCancel\" onClick=\"reset()\" data-dismiss=\"modal\">취소</a>-->\n                </div>\n            </form>\n        </div>\n        <!--Content-->\n    </div>\n</div>\n\n\n\n\n\n\n<!-- Room Info Dialog Modal -->\n<div class=\"modal fade\" id=\"modalRoomInfoDialog\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\" data-backdrop=\"static\" keyboard=false>\n    <div class=\"modal-dialog modal-notify modal-info\" role=\"document\">\n        <!--Content-->\n        <div class=\"modal-content\">\n            <!--Header-->\n            <form id=\"roomInfoDialog\">\n            <div class=\"modal-header\">\n                <p class=\"heading lead text-center\">객실 상세 정보</p>\n    \n                <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\" onclick=delGuestsList()> \n                    <span aria-hidden=\"true\" class=\"white-text\">&times;</span>\n                </button>\n            </div>\n                <div class=\"modal-body mx-3\">\n                    <div class=\"md-form mb-4\">\n                        <!--<i class=\"fas fa-hotel fa-fw prefix grey-text\"></i>-->\n                        객실 번호<input type=\"text\" id=\"roomInfoRoomNum\" class=\"form-control validate\" disabled>\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <!--<i class=\"fas fa-video fa-fw prefix grey-text\"></i>-->\n                        CCTV 링크<a id='roomInfoCctvLink' target='_blank'><input type=\"text\" id=\"roomInfoCctv\" class=\"form-control validate\" disabled></a>\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <!--<i class=\"fas fa-male fa-fw prefix grey-text\"></i>-->\n                        인체 감지<input type=\"text\" id=\"roomInfoHumanDetect\" class=\"form-control validate\" disabled>\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <!--<i class=\"fas fa-bed fa-fw prefix grey-text\"></i>-->\n                        객실 상태<input type=\"text\" id=\"roomInfoRoomState\" class=\"form-control validate\" disabled>\n                    </div>\n                    <div class=\"md-form mb-4\">\n                        <!--<i class=\"fas fa-clock fa-fw prefix grey-text\"></i>-->\n                        키 만료일<input type=\"text\" id=\"roomInfoKeyExpDate\" class=\"form-control validate\" disabled>\n                    </div>\n                    <div class=\"md-form mb-4\" id=\"guestsList\"></div>\n                </div>\n                <div class=\"modal-footer justify-content-center\">\n                    <button type=\"button\" onclick=delGuestsList() class=\"btn btn-outline-info waves-effect\" id=\"roomInfoBtnConfirm\" data-dismiss=\"modal\">확인</button>\n                    <!--<a type=\"submit\" class=\"btn btn-info\" id=\"btn_create\">추가</a>-->\n                    <!--<a type=\"button\" class=\"btn btn-outline-info waves-effect\" id=\"btnCancel\" onClick=\"reset()\" data-dismiss=\"modal\">취소</a>-->\n                </div>\n            </form>\n        </div>\n        <!--Content-->\n    </div>\n</div>\n\n\n\n<!--modal button-->\n<!--<div class=\"text-center\">-->\n<!--    <button type=\"button\" id=\"modalBtn\" class=\"btn btn-default btn-rounded mb-4\" data-toggle=\"modal\" data-target=\"#modalRegisterForm\">사용자 추가</button>-->\n<!--</div>-->\n\n<script>\n    $(document).ready(function(){\n        var dataTable;\n        //var selected = [];\n        \n        setTimeout(function() { // cdn충돌 jquery\n            dataTable = $('#rooms').DataTable( {\n                \"ajax\": {\n                    \"url\": \"http://localhost:1880/rooms\",\n                    \"type\": \"GET\",\n                    \"dataSrc\": \"\",\n                    \"dataType\": 'jsonp'\n                },\n                \"columns\": [\n                    { \"data\": \"roomNum\" },\n                    { \"data\": \"name\" },\n                    { \"data\": \"roomState\" },\n                    { \"data\": \"keyExpDate\" }\n                ],\n                select: {\n                    style: 'single',\n                    blurable: true\n                },\n                dom: 'Bfrtip',\n                buttons: {\n                    buttons: [\n                        {\n                            text: '키 발급',\n                            className:'pubKey',\n                            action: function () {\n                                if(resetForm('#pubKeyForm')) {\n                                    $('#modalPubKeyForm').modal('show');    \n                                }\n                                $('#pubKeyRoomNum').val(dataTable.row({selected: true}).data().roomNum);\n                            },\n                            enabled: false\n                        },\n                        {\n                            text: '추가 키 발급',\n                            className:'pubAddKey',\n                            action: function () {\n                                if(resetForm('#pubAddKeyForm')) {\n                                    $('#modalPubAddKeyForm').modal('show');\n                                }\n                                $('#pubAddKeyRoomNum').val(dataTable.row({selected: true}).data().roomNum);\n                            },\n                            enabled: false\n                        },\n                        {\n                            text: '상세 정보',\n                            className:'moreInfo',\n                            action: function () {\n                               var roomNum = dataTable.row({selected: true}).data().roomNum;\n        \n                                $.ajax({\n                                    url:'/rooms/' + roomNum,\n                                    type:'get',\n                                    dataType: 'jsonp',\n                                    headers: {\n                                        \"Authorization\": \"Basic YWRtaW46YWRtaW4xMjM0\"\n                                    },\n                                    success:function(data) {\n                                        $('#modalRoomInfoDialog').modal('show');\n                                        $('#roomInfoRoomNum').val(roomNum);\n                                        showRoomInfo(data);\n                                    }\n                                });\n                            },\n                            enabled: false\n                        },\n                        {\n                            text: '키 삭제',\n                            className:'delKey',\n                            action: function () {\n                                var roomNum = dataTable.row({selected: true}).data().roomNum;\n        \n                                $.ajax({\n                                    url:'/rooms/' + roomNum + '/guests',\n                                    type:'delete',\n                                    success:function() {\n                                        dataTable.ajax.reload();\n                                    }\n                                });\n                            },\n                            enabled: false\n                        }\n                    ],\n                    dom: {\n                        button: {\n                            tag: \"button\",\n                            className: \"btn btn-info btn-rounded mb-4\"\n                        }\n                    }\n                }\n                \n            });\n        }, 100);\n        \n        \n        \n        // datatable button enable disable custom rules\n        $('#rooms').on('select.dt', function () {\n            dataTable.button('.pubKey').enable( dataTable.row({selected: true}).data().name === '' ? true : false );\n            dataTable.button('.pubAddKey').enable( dataTable.row({selected: true}).data().name !== '' ? true : false );\n            dataTable.button('.moreInfo').enable( dataTable.row({selected: true}).data().name !== '' ? true : false );\n            dataTable.button('.delKey').enable( dataTable.row({selected: true}).data().name !== '' ? true : false );\n        });\n        \n        $('#rooms').on('deselect.dt', function () {\n            dataTable.button('.pubKey').enable(false);\n            dataTable.button('.pubAddKey').enable(false);\n            dataTable.button('.moreInfo').enable(false);\n            dataTable.button('.delKey').enable(false);\n        });\n        \n        \n        // ajax - 게스트 키 발급\n        $(\"#pubKeyForm\").submit(function(e) {\n            e.preventDefault();\n            $.ajax({\n                url:'/rooms/' + $('#pubKeyRoomNum').val() + '/guests',\n                type:'post',\n                data: {\n                    roomNum : $('#pubKeyRoomNum').val(),\n                    name : $('#pubKeyName').val(),\n                    mobile : $('#pubKeyMobile').val(),\n                    authLevel : 2,\n                    keyExpDate : $('#keyExpDate').val()\n                },\n                success:function(){\n                    $(\"#pubKeyBtnCancel\").trigger('click');\n                    dataTable.ajax.reload();\n                }\n            });\n        });\n        \n        \n        \n        // ajax - 게스트 추가 키 발급\n        $(\"#pubAddKeyForm\").submit(function(e) {\n            e.preventDefault();\n            $.ajax({\n                url:'/rooms/' + $('#pubAddKeyRoomNum').val() + '/guests',\n                type:'post',\n                data: {\n                    roomNum : $('#pubAddKeyRoomNum').val(),\n                    name : $('#pubAddKeyName').val(),\n                    mobile : $('#pubAddKeyMobile').val(),\n                    authLevel : 1\n                },\n                success:function(){\n                    $(\"#pubAddKeyBtnCancel\").trigger('click');\n                    dataTable.ajax.reload();\n                }\n            });\n        });\n        \n        \n        \n            // 폼 새로고침\n        function resetForm(formId) {\n            $(formId)[0].reset();\n            \n            return true;\n        }\n        \n    });\n    \n    \n    // 현재 날짜 \n    function getDate() {\n        var d = new Date();\n        \n        var today = d.getFullYear() + '-' + d.getMonth() + '-' + d.getDate();\n        \n        return today;\n    }\n\n    function showRoomInfo(data){\n        \n        $('#roomInfoCctv').val(data.cctv);\n        $('#roomInfoCctvLink').attr('href',data.cctv);\n        $('#roomInfoHumanDetect').val(data.humanDetect);\n        $('#roomInfoRoomState').val(data.roomState);\n    \n    \n        //guests list\n        var guestsList = document.getElementById(\"guestsList\");\n    \n        var temp = \"\";\n        var count = 0;\n        \n        // input text form 동적 생성\n        for (guest in data.guests) {\n            //temp+=\"<p>이름</p>\"\n            //temp+=\"<br><i class='fas fa-address-card fa-fw prefix grey-text'></i>\";\n            temp+=\"<br>이름<input type='text' id='roomInfoName\" + count + \"' value='\"+ data.guests[guest].name + \"' class='form-control validate' disabled>\"\n            \n            temp+=\"<br>전화번호<input type='text' id='roomInfoMobile\" + count + \"' value='\"+ data.guests[guest].mobile + \"' class='form-control validate' disabled>\"\n            \n            //temp+=\"<p>권한</p>\"\n            //temp+=\"<br><i class='fas fa-sitemap fa-fw prefix grey-text'></i>\";\n            temp+=\"<br>권한<input type='text' id='roomInfoAuthLevel\" + count + \"' value='\"+ data.guests[guest].authLevel + \"' class='form-control validate' disabled>\"\n            \n            // firebase id = token\n            temp+=\"<br>토큰<input type='text' id='roomInfoToken\" + count + \"' value='\"+ guest + \"' class='form-control validate' disabled>\"\n            \n            count++;\n            \n            if (data.guests[guest].keyExpDate !== undefined) {\n                $('#roomInfoKeyExpDate').val(data.guests[guest].keyExpDate);\n            }\n        }\n\n        var guestsListDiv = document.createElement(\"div\"); // 폼 생성\n        guestsListDiv.id = \"guestsListDiv\"; // 폼 Div에 ID 부여 (삭제를 위해)\n        guestsListDiv.innerHTML  = temp; // 폼 Div안에 HTML삽입\n        guestsList.appendChild(guestsListDiv); // 삽입할 DIV에 생성한 폼 삽입\n    }\n    \n    \n    function delGuestsList() {\n        var guestsList = document.getElementById('guestsList');\n        \n        guestsList.removeChild(document.getElementById('guestsListDiv'));\n    }\n\n</script>\n\n\n<table id=\"rooms\" class=\"table table-striped table-hover table-sm\" cellspacing=\"0\" width=\"100%\">\n    <thead>\n        <tr>\n            <th>객실 번호</th>\n            <th>투숙객</th>\n            <th>객실 상태</th>\n            <th>키 만료일</th>\n        </tr>\n    </thead>\n</table>\n\n\n\n\n\n\n\n\n\n\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":640,"y":1280,"wires":[[]]},{"id":"772a751c.f9252c","type":"comment","z":"f63f216a.384d","name":"객실 리스트","info":"","x":110,"y":1520,"wires":[]},{"id":"cea2da32.564708","type":"comment","z":"f63f216a.384d","name":"키 삭제","info":"","x":90,"y":1760,"wires":[]},{"id":"21d1334a.aec0ec","type":"http in","z":"f63f216a.384d","name":"","url":"/rooms/:roomNum/guests","method":"delete","upload":false,"swaggerDoc":"","x":210,"y":1820,"wires":[["6a360ba7.06e924"]]},{"id":"9dc1d96e.edbaa8","type":"firebase modify","z":"f63f216a.384d","name":"객실 투숙객 DB 데이터 전체 삭제","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":780,"y":1820,"wires":[["f7711995.9a8678","c921c3dc.5a27b"]]},{"id":"f7711995.9a8678","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":1090,"y":1820,"wires":[]},{"id":"67eaf41e.f4647c","type":"ui_toast","z":"f63f216a.384d","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"확인","cancel":"","topic":"","name":"키 삭제 알람","x":1010,"y":1980,"wires":[[]]},{"id":"6a360ba7.06e924","type":"function","z":"f63f216a.384d","name":"path(경로) 설정","func":"msg.childpath = '/guests/' + msg.req.params.roomNum;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1820,"wires":[["9dc1d96e.edbaa8"]]},{"id":"470d8a83.f2c544","type":"function","z":"f63f216a.384d","name":"path(경로) 설정","func":"msg.childpath = '/guests/' + msg.req.params.roomNum;\n\nvar guestObj = {\n    name : msg.payload.name,\n    mobile : msg.payload.mobile,\n    authLevel : msg.payload.authLevel,\n    keyExpDate : (msg.payload.keyExpDate === undefined ? null : msg.payload.keyExpDate) ,\n    kakaoUserKey : ''\n}\n\n// var usersObj = { users: userObj }\n\nmsg.payload = guestObj;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2120,"wires":[["83667100.8cd73"]]},{"id":"b4384a7.c2b47b8","type":"firebase modify","z":"f63f216a.384d","name":"객실 DB 업데이트 (객실 상태: '외출')","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"외출","priority":"msg.priority","x":870,"y":2300,"wires":[["1be9345d.0defdc"]]},{"id":"196b1ea6.9f7b21","type":"function","z":"f63f216a.384d","name":"객실 상태 '외출'로 변경 (키 발급 시)","func":"msg.childpath = '/rooms/' + msg.req.params.roomNum + '/roomState';\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":2300,"wires":[["b4384a7.c2b47b8"]]},{"id":"1be9345d.0defdc","type":"function","z":"f63f216a.384d","name":"알람 설정","func":"msg.payload = msg.pushID;\n\nmsg.topic = msg.req.params.roomNum + ' 키 발급 완료'\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":2300,"wires":[["f8a7812a.f4522"]]},{"id":"c921c3dc.5a27b","type":"function","z":"f63f216a.384d","name":"객실 상태 '투숙 가능' 변경","func":"msg.childpath = '/rooms/' + msg.req.params.roomNum + '/roomState';\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1900,"wires":[["9cdc4de0.26f88"]]},{"id":"9cdc4de0.26f88","type":"firebase modify","z":"f63f216a.384d","name":"객실 DB 업데이트 (객실 상태 : '투숙 가능')","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"투숙 가능","priority":"msg.priority","x":960,"y":1900,"wires":[["2ef732cb.3969ce"]]},{"id":"2ef732cb.3969ce","type":"function","z":"f63f216a.384d","name":"알람 설정","func":"msg.payload = '';\n\nmsg.topic = msg.req.params.roomNum + ' 키 삭제 완료'\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1980,"wires":[["67eaf41e.f4647c"]]},{"id":"5f635b9b.0a61d4","type":"comment","z":"f63f216a.384d","name":"상세 정보 가져오기","info":"","x":130,"y":2440,"wires":[]},{"id":"4bad5b3e.e34284","type":"switch","z":"f63f216a.384d","name":"Output 1 = authLevel 1 (users), Output 2 = authLevel 2 (superuser)","property":"payload.authLevel","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":2200,"wires":[["f6233858.e3a788","5a24d1ee.c20c"],["196b1ea6.9f7b21","f6233858.e3a788"]]},{"id":"f292ce34.d0c68","type":"ui_toast","z":"f63f216a.384d","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"확인","cancel":"","topic":"","name":"추가 키 발급 알람","x":1210,"y":2140,"wires":[[]]},{"id":"b6a2ddde.7f4b1","type":"http in","z":"f63f216a.384d","name":"","url":"/rooms/:roomNum","method":"get","upload":false,"swaggerDoc":"","x":180,"y":2500,"wires":[["c62194a.2853468"]]},{"id":"d209150.813b3e8","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":1190,"y":2580,"wires":[]},{"id":"b96b96d7.a887c8","type":"firebase.once","z":"f63f216a.384d","name":"객실 DB 읽어오기","firebaseconfig":"","childpath":"msg.childpath","repeatifnull":false,"eventType":"value","queries":[],"x":650,"y":2500,"wires":[["b75d5d48.4bb5b"]]},{"id":"c62194a.2853468","type":"function","z":"f63f216a.384d","name":"path(경로) 설정","func":"msg.childpath = '/rooms/' + msg.req.params.roomNum;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2500,"wires":[["b96b96d7.a887c8"]]},{"id":"b75d5d48.4bb5b","type":"function","z":"f63f216a.384d","name":"path(경로) 설정","func":"msg.childpath = '/guests/' + msg.req.params.roomNum;\n\nmsg.temp = msg.payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":2580,"wires":[["15976b0b.0264d5"]]},{"id":"29f84504.f7674a","type":"comment","z":"f63f216a.384d","name":"KaKao Chatbot API","info":"","x":110,"y":3840,"wires":[]},{"id":"5f321b9c.2936a4","type":"http in","z":"f63f216a.384d","name":"","url":"/message","method":"post","upload":false,"swaggerDoc":"","x":140,"y":4020,"wires":[["e17f600.df8aba"]]},{"id":"6a014b22.1cc574","type":"function","z":"f63f216a.384d","name":"Chatbot API server","func":"var msgAddKakaoUserKey = {}; //kakao user key object\nvar msgAddRoomMessage = {}; // room message object\nvar msgAddRoomService = {}; // room service object\nvar msgGoOut = {};    // go out object\nvar msgDoorOpen = {}; // door open object\n\nvar send = {}; // kakao chatbot send message\n\nchatBotScenario();\n\nmsg.payload = send;\n\nif(JSON.stringify(msgAddKakaoUserKey) === '{}') { // 로그인 후\n    if(msg.req.body.content.indexOf('(메세지)')!=-1) { // 관리자 웹페이지에 객실 메세지 전달\n        return [msg, null, msgAddRoomMessage, null, null, null];\n    }else if(msg.req.body.content.indexOf('(메뉴)')!=-1) { // 관리자 웹페이지에 룸서비스 전달\n        return [msg, null, null, msgAddRoomService, null, null];\n    }else if(msg.req.body.content === '문 열기') { // MQTT PUB 문 열기 - DB에 객실 상태 '실내'로 업데이트\n        return [msg, null, null, null, msgDoorOpen, null];\n    }else if(msg.req.body.content === '외출' && JSON.stringify(msgGoOut) !== '{}') { // 외출하기 - DB에 객실 상태 '외출'로 업데이트\n        return [msg, null, null, null, null, msgGoOut]\n    }\n    //일반 메세지\n    return [msg, null, null, null, null, null];\n    \n} else { // 첫 로그인 시 (키 발급 후)\n    return [msg, msgAddKakaoUserKey, null, null, null, null];\n}\n\nfunction chatBotScenario() {\n    \n    for (var room in msg.guests) {\n        var guestsInfo = msg.guests[room];\n        var roomInfo = msg.rooms[room];\n        \n        for (var guest in guestsInfo) {\n            // 카카오 유저키 저장 - content로 날아온 firebase id matching (첫 로그인)\n            if(guest === msg.req.body.content && guestsInfo[guest].kakaoUserKey !== msg.req.body.user_key) {\n                msgAddKakaoUserKey = {\n                    'childpath' : '/guests/' + room + '/' + guest + '/kakaoUserKey',\n                    'payload': msg.req.body.user_key\n                }\n            \n                send = {\n                    'message': {\n                        'text': room+\" 체크 인 완료. 환영합니다! \" + guestsInfo[guest].name + \" 고객님!\"\n                    },\n                    'keyboard': {\n                        'type': 'buttons',\n                        'buttons': [\n                            '문 열기'\n                        ]\n                    }\n                }\n                return; // break nested for문\n            } \n            //////////////// 게스트 메세지 수행 ///////////////////////\n            else if(guestsInfo[guest].kakaoUserKey === msg.req.body.user_key) { \n                  \n                if(msg.req.body.content === '문 열기') {\n                    (guestsInfo[guest].authLevel === '2') ? buttons = ['문 열기', '외출', '프론트로 메세지 보내기', '룸서비스 주문하기'] : buttons = ['문 열기', '프론트로 메세지 보내기', '룸서비스 주문하기'];\n                    if(roomInfo.roomState === '외출') { // 다 외출일때, 아무나 한명이라도 들어오면 '실내' -> 도둑이 따고 들어오면 유저키 매칭 안되서 외출된다\n                        msgDoorOpen = {\n                            'childpath': '/rooms/' + room + '/roomState',\n                            'roomState': '외출',                                \n                            'topic': '/rooms/' + room.substring(0,3) + '/door', // 문 열기 mqtt doorlock\n                            'payload': 'open'\n                        }\n                    } else if(roomInfo.roomState === '실내') {                  //문만 열기\n                        msgDoorOpen = {\n                            'roomState': '실내',\n                            'topic': '/rooms/' + room.substring(0,3) + '/door', // 문 열기 mqtt doorlock\n                            'payload': 'open'\n                        }\n                    }\n                    \n                    send = {\n                        'message': {\n                            'text': \"문 열어 줄게요!\"\n                        },\n                        'keyboard': {\n                            'type': 'buttons',\n                            'buttons': buttons\n                        }\n                    }\n                    return;\n                } \n                else if(msg.req.body.content === '외출') {\n                    if (roomInfo.humanDetect === '감지') {\n                        (guestsInfo[guest].authLevel === '2' && roomInfo.roomState === '실내') ? buttons = ['문 열기', '외출', '프론트로 메세지 보내기', '룸서비스 주문하기'] : buttons = ['문 열기', '프론트로 메세지 보내기', '룸서비스 주문하기'];\n                        send = {\n                            'message': {\n                                'text': \"객실에 사람이 있으면 안됩니다.\"\n                            },\n                            'keyboard': {\n                                'type': 'buttons',\n                                'buttons': buttons\n                            }\n                        }\n                    } \n                    else if (roomInfo.humanDetect === '미감지') {\n                        if (roomInfo.roomState === '실내') { \n                            msgGoOut = {\n                                'childpath': '/rooms/' + room + '/roomState'\n                            } \n                        }\n                        \n                        send = {\n                            'message': {\n                                'text': \"좋은 하루 보내고 오세요!\"\n                            },\n                            'keyboard': {\n                                'type': 'buttons',\n                                'buttons': [\n                                    '문 열기'\n                                ]\n                            }\n                        }\n                    }\n                    return;\n                } \n                else if(msg.req.body.content === '프론트로 메세지 보내기') {\n                    send = {\n                        'message': {\n                            'text': \"필요하신 사항을 입력해 주세요. (예시: (메세지)수건 1개 갖다주세요 ; (메세지)룸서비스 주문 취소해 주세요 )\" // 취소 시 '취소' 입력\n                        }\n                    }\n                    return;\n                }\n                else if(msg.req.body.content === '룸서비스 주문하기') {\n                    send = {\n                        'message': {\n                            'text': \"객실 내에 비치된 메뉴를 확인하시고 원하시는 음식을 알려주세요. (예시: (메뉴)스테이크, 콜라 )\" // 취소 시 '취소' 입력\n                        }\n                    }\n                    return;\n                }\n                else if(msg.req.body.content === '취소') {\n                    (guestsInfo[guest].authLevel === '2' && roomInfo.roomState === '실내') ? buttons = ['문 열기', '외출', '프론트로 메세지 보내기', '룸서비스 주문하기'] : buttons = ['문 열기', '프론트로 메세지 보내기', '룸서비스 주문하기'];\n                    send = {\n                        'message': {\n                            'text': \"취소 하였습니다.\"\n                        },\n                        'keyboard': {\n                            'type': 'buttons',\n                            'buttons': buttons\n                        }\n                    }    \n                    return;\n                }\n                else if(msg.req.body.content.indexOf('(메세지)')!=-1) {\n                    (guestsInfo[guest].authLevel === '2' && roomInfo.roomState === '실내') ? buttons = ['문 열기', '외출', '프론트로 메세지 보내기', '룸서비스 주문하기'] : buttons = ['문 열기', '프론트로 메세지 보내기', '룸서비스 주문하기'];\n                    msgAddRoomMessage = {\n                        'payload': {\n                            'roomNum': room,\n                            'message': msg.req.body.content.substring(5)\n                        }\n                    },\n                    send = {\n                        'message': {\n                            'text': \"프론트로 메세지가 접수되었습니다.\"\n                        },\n                        'keyboard': {\n                            'type': 'buttons',\n                            'buttons': buttons\n                        } \n                    }\n                    return;\n                } else if(msg.req.body.content.indexOf('(메뉴)')!=-1) {\n                    (guestsInfo[guest].authLevel === '2' && roomInfo.roomState === '실내') ? buttons = ['문 열기', '외출', '프론트로 메세지 보내기', '룸서비스 주문하기'] : buttons = ['문 열기', '프론트로 메세지 보내기', '룸서비스 주문하기'];\n                    msgAddRoomService = {\n                        'payload': {\n                            'roomNum': room,\n                            'message': msg.req.body.content.substring(4)\n                        }\n                    },\n                    send = {\n                        'message': {\n                            'text': \"룸서비스 주문이 접수되었습니다!\"\n                        },\n                        'keyboard': {\n                            'type': 'buttons',\n                            'buttons': buttons\n                        } \n                    }\n                    return;\n                } else {\n                    (guestsInfo[guest].authLevel === '2' && roomInfo.roomState === '실내') ? buttons = ['문 열기', '외출', '프론트로 메세지 보내기', '룸서비스 주문하기'] : buttons = ['문 열기', '프론트로 메세지 보내기', '룸서비스 주문하기'];\n                    send = {\n                        'message': {\n                            'text': \"이해 할 수 없는 명령이에요!\"\n                        },\n                        'keyboard': {\n                            'type': 'buttons',\n                            'buttons': buttons\n                        } \n                    }\n                    return;    \n                }\n            }\n        }\n    }\n    send = {\n        'message': {\n            'text': '인증 되지 않은 사용자입니다. 발급 받은 토큰으로 인증하세요'\n        }\n    }\n    \n}","outputs":6,"noerr":0,"x":950,"y":4100,"wires":[["f91d8b7b.0f50c8"],["36f9b369.dea71c"],["6e978a3.7eddb74"],["b47033ad.0b1ec"],["af0a1234.54d6"],["4d47fd89.94a6a4"]]},{"id":"e17f600.df8aba","type":"firebase.once","z":"f63f216a.384d","name":"객실 투숙객 DB 읽어오기 (전체)","firebaseconfig":"","childpath":"/guests","repeatifnull":false,"eventType":"value","queries":[],"x":410,"y":4020,"wires":[["69166e3.2945a9"]]},{"id":"a19c8bf5.f0a0f8","type":"firebase.once","z":"f63f216a.384d","name":"객실 투숙객 DB 읽어오기","firebaseconfig":"","childpath":"/guests","repeatifnull":false,"eventType":"value","queries":[],"x":390,"y":1580,"wires":[["229868f4.0a4cb8"]]},{"id":"229868f4.0a4cb8","type":"change","z":"f63f216a.384d","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"guests","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1580,"wires":[["9840d66b.0efcf8"]]},{"id":"b733142c.958248","type":"change","z":"f63f216a.384d","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"rooms","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1660,"wires":[["3d31ae59.d5e422"]]},{"id":"15976b0b.0264d5","type":"firebase.once","z":"f63f216a.384d","name":"객실 투숙객 DB 읽어오기","firebaseconfig":"","childpath":"msg.childpath","repeatifnull":false,"eventType":"value","queries":[],"x":670,"y":2580,"wires":[["abc2b9b8.ab39f8"]]},{"id":"abc2b9b8.ab39f8","type":"function","z":"f63f216a.384d","name":"데이터 가공 (JSON format)","func":"msg.temp['guests'] = msg.payload;\n\nmsg.payload = msg.temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":2580,"wires":[["d209150.813b3e8"]]},{"id":"69166e3.2945a9","type":"change","z":"f63f216a.384d","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"guests","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":4020,"wires":[["db8c72fa.db47c"]]},{"id":"db8c72fa.db47c","type":"firebase.once","z":"f63f216a.384d","name":"객실 DB 읽어오기 (전체)","firebaseconfig":"","childpath":"/rooms","repeatifnull":false,"eventType":"value","queries":[],"x":390,"y":4100,"wires":[["967f6b7d.c2ff08"]]},{"id":"967f6b7d.c2ff08","type":"change","z":"f63f216a.384d","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"rooms","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":4100,"wires":[["6a014b22.1cc574"]]},{"id":"f91d8b7b.0f50c8","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":1190,"y":3940,"wires":[]},{"id":"dee2c57.3821238","type":"ui_template","z":"f63f216a.384d","group":"30be8051.96514","name":"객실 메시지 테이블 (IP 수정 필요)","order":0,"width":"17","height":"11","format":"<table id=\"roomMessages\" class=\"table table-striped table-hover table-sm\" cellspacing=\"0\" width=\"100%\">\n    <thead>\n        <tr>\n            <th>객실 번호</th>\n            <th>내용</th>\n        </tr>\n    </thead>\n</table>\n\n\n\n<script>\n    var rmMsgDataTable;\n    $(document).ready(function(){\n        setTimeout(function() { // cdn충돌 jquery\n            rmMsgDataTable = $('#roomMessages').DataTable( {\n                \"ajax\": {\n                    \"url\": \"http://localhost:1880/roomMessages\",\n                    \"type\": \"GET\",\n                    \"dataSrc\": \"\",\n                    \"dataType\": 'jsonp'\n                },\n                \"columns\": [\n                    { \"data\": \"roomNum\" },\n                    { \"data\": \"message\" }\n                ],\n                select: {\n                    style: 'single',\n                    blurable: true\n                },\n                ordering:  false,\n                dom: 'Bfrtip',\n                buttons: {\n                    buttons: [\n                        {\n                            extend: 'selectedSingle',\n                            text: '처리 완료',\n                            action: function () {\n                                $.ajax({\n                                    url:'/roomMessages/' + rmMsgDataTable.row({selected: true}).data().fid,\n                                    type:'delete',\n                                    success:function() {\n                                        rmMsgDataTable.ajax.reload();\n                                    }\n                                });\n                            },\n                        }\n                    ],\n                    dom: {\n                        button: {\n                            tag: \"button\",\n                            className: \"btn btn-info btn-rounded mb-4\"\n                        }\n                    }\n                }\n                \n            });\n        }, 100);\n    });\n    \n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                rmMsgDataTable.ajax.reload();\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":660,"y":1220,"wires":[[]]},{"id":"ec177b91.4d0c28","type":"ui_template","z":"f63f216a.384d","group":"825a16dd.1ec728","name":"룸 서비스 테이블 (IP 수정 필요)","order":0,"width":"17","height":"11","format":"<table id=\"roomServices\" class=\"table table-striped table-hover table-sm\" cellspacing=\"0\" width=\"100%\">\n    <thead>\n        <tr>\n            <!--<th style='display:none;'>firebase ID</th>-->\n            <th>객실 번호</th>\n            <th>내용</th>\n        </tr>\n    </thead>\n    <!--<tbody>-->\n    <!--    <tr ng-repeat=\"id in msg.keys\" ng-if=\"msg.keys[$index] != 'garbage'\">-->\n    <!--        <td style='display:none;'>{{msg.keys[$index]}}</td>-->\n    <!--        <td>{{msg.payload[msg.keys[$index]].roomNum}}</td>-->\n    <!--        <td>{{msg.payload[msg.keys[$index]].message}}</td>-->\n    <!--    </tr>-->\n    <!--</tbody>-->\n</table>\n\n\n\n<script>\n    var rmSrvDataTable\n    $(document).ready(function(){\n        //var selected = [];\n        \n        setTimeout(function() { // cdn충돌 jquery\n            rmSrvDataTable = $('#roomServices').DataTable( {\n                \"ajax\": {\n                    \"url\": \"http://localhost:1880/roomServices\",\n                    \"type\": \"GET\",\n                    \"dataSrc\": \"\",\n                    \"dataType\": 'jsonp'\n                },\n                \"columns\": [\n                    { \"data\": \"roomNum\" },\n                    { \"data\": \"message\" }\n                ],\n                select: {\n                    style: 'single',\n                    blurable: true\n                },\n                dom: 'Bfrtip',\n                ordering:  false,\n                buttons: {\n                    buttons: [\n                        {\n                            extend: 'selectedSingle',\n                            text: '처리 완료',\n                            action: function () {\n                                $.ajax({\n                                    url:'/roomServices/' + rmSrvDataTable.row({selected: true}).data().fid,\n                                    type:'delete',\n                                    success:function() {\n                                        rmSrvDataTable.ajax.reload();\n                                    }\n                                });\n                            },\n                        }\n                    ],\n                    dom: {\n                        button: {\n                            tag: \"button\",\n                            className: \"btn btn-info btn-rounded mb-4\"\n                        }\n                    }\n                }\n            });\n        }, 100);\n    });\n    \n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                rmSrvDataTable.ajax.reload();\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":650,"y":1160,"wires":[[]]},{"id":"f5e33f95.4f3d6","type":"comment","z":"f63f216a.384d","name":"룸 서비스 REST API","info":"","x":110,"y":2680,"wires":[]},{"id":"fb8049ed.5d53b8","type":"comment","z":"f63f216a.384d","name":"룸서비스 추가","info":"","x":130,"y":2860,"wires":[]},{"id":"6ec6ff29.f477f","type":"http in","z":"f63f216a.384d","name":"","url":"/roomServices","method":"post","upload":false,"swaggerDoc":"","x":210,"y":2920,"wires":[["26adb152.b2180e"]]},{"id":"26adb152.b2180e","type":"firebase modify","z":"f63f216a.384d","name":"룸 서비스 DB 데이터 추가","firebaseconfig":"","childpath":"/roomServices","method":"push","value":"msg.payload","priority":"msg.priority","x":470,"y":2920,"wires":[["8aab10b1.0748"]]},{"id":"8aab10b1.0748","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":690,"y":2920,"wires":[]},{"id":"fc937b0a.978518","type":"comment","z":"f63f216a.384d","name":"룸서비스 삭제","info":"","x":130,"y":2980,"wires":[]},{"id":"e368b710.1b2748","type":"http in","z":"f63f216a.384d","name":"","url":"/roomServices/:roomServiceId","method":"delete","upload":false,"swaggerDoc":"","x":270,"y":3040,"wires":[["1715443e.fdf26c"]]},{"id":"5b59c4ef.95badc","type":"firebase modify","z":"f63f216a.384d","name":"룸 서비스 DB 데이터 삭제","firebaseconfig":"","childpath":"msg.childpath","method":"remove","value":"msg.payload","priority":"msg.priority","x":770,"y":3040,"wires":[["97614fb9.e3f07","cca9d67c.384dd8"]]},{"id":"1715443e.fdf26c","type":"function","z":"f63f216a.384d","name":"path(경로) 설정","func":"msg.childpath = '/roomServices/' + msg.req.params.roomServiceId;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":3040,"wires":[["5b59c4ef.95badc"]]},{"id":"97614fb9.e3f07","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":1010,"y":3040,"wires":[]},{"id":"3fea6f78.8a0e1","type":"comment","z":"f63f216a.384d","name":"룸 서비스 목록","info":"","x":140,"y":2740,"wires":[]},{"id":"a0230a10.011468","type":"http in","z":"f63f216a.384d","name":"","url":"/roomServices","method":"get","upload":false,"swaggerDoc":"","x":210,"y":2800,"wires":[["8d9c8729.9e9a78"]]},{"id":"8d9c8729.9e9a78","type":"firebase.once","z":"f63f216a.384d","name":"룸 서비스 DB 읽어오기","firebaseconfig":"","childpath":"/roomServices","repeatifnull":false,"eventType":"value","queries":[],"x":460,"y":2800,"wires":[["350d7891.bdeee8"]]},{"id":"f8b127f0.7f8748","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":970,"y":2800,"wires":[]},{"id":"350d7891.bdeee8","type":"function","z":"f63f216a.384d","name":"데이터 가공 (JSON format)","func":"const datas = [];\n\nfor (var firebaseId in msg.payload) {\n    // 룸서비스 데이터\n    if (firebaseId !== 'garbage') {\n        var rmSrvInfo = msg.payload[firebaseId];\n        \n        const data = {\n            fid : firebaseId,\n            roomNum : rmSrvInfo.roomNum,\n            message : rmSrvInfo.message\n        };    \n        \n        datas.push(data);\n    }\n}\n\nmsg.payload = datas;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":740,"y":2800,"wires":[["f8b127f0.7f8748"]]},{"id":"bb11010b.92f27","type":"firebase.on","z":"f63f216a.384d","name":"객실 메시지 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/roomServices","atStart":false,"eventType":"value","queries":[],"x":230,"y":1160,"wires":[["ec177b91.4d0c28"]]},{"id":"cca9d67c.384dd8","type":"ui_toast","z":"f63f216a.384d","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"확인","cancel":"","topic":"처리 완료","name":"처리 완료","x":1020,"y":3100,"wires":[[]]},{"id":"fca9d9ce.dbb1f8","type":"comment","z":"f63f216a.384d","name":"객실 메세지 API","info":"","x":100,"y":3220,"wires":[]},{"id":"7cf87964.5cbf48","type":"comment","z":"f63f216a.384d","name":"객실 메세지 추가","info":"","x":140,"y":3400,"wires":[]},{"id":"7a60517a.c6b9d","type":"http in","z":"f63f216a.384d","name":"","url":"/roomMessages","method":"post","upload":false,"swaggerDoc":"","x":220,"y":3460,"wires":[["48fcea19.d9db44"]]},{"id":"48fcea19.d9db44","type":"firebase modify","z":"f63f216a.384d","name":"객실 메시지 DB 데이터 추가","firebaseconfig":"","childpath":"/roomMessages","method":"push","value":"msg.payload","priority":"msg.priority","x":500,"y":3460,"wires":[["f17213c1.71b43"]]},{"id":"f17213c1.71b43","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":730,"y":3460,"wires":[]},{"id":"e232844c.7ab8c8","type":"comment","z":"f63f216a.384d","name":"객실 메세지 삭제","info":"","x":140,"y":3520,"wires":[]},{"id":"1f50b221.0bb7de","type":"http in","z":"f63f216a.384d","name":"","url":"/roomMessages/:roomMessageId","method":"delete","upload":false,"swaggerDoc":"","x":280,"y":3580,"wires":[["99944963.d7da18"]]},{"id":"83037b74.d88648","type":"firebase modify","z":"f63f216a.384d","name":"객실 메시지 DB 데이터 삭제","firebaseconfig":"","childpath":"msg.childpath","method":"remove","value":"msg.payload","priority":"msg.priority","x":800,"y":3580,"wires":[["aca60132.8375b","e04fba2a.f10b28"]]},{"id":"99944963.d7da18","type":"function","z":"f63f216a.384d","name":"path(경로) 설정","func":"msg.childpath = '/roomMessages/' + msg.req.params.roomMessageId;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":3580,"wires":[["83037b74.d88648"]]},{"id":"aca60132.8375b","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":1050,"y":3580,"wires":[]},{"id":"628270a2.68209","type":"comment","z":"f63f216a.384d","name":"객실 메세지 목록","info":"","x":140,"y":3280,"wires":[]},{"id":"63477bb8.c965c4","type":"http in","z":"f63f216a.384d","name":"","url":"/roomMessages","method":"get","upload":false,"swaggerDoc":"","x":220,"y":3340,"wires":[["df9a9fc4.3b09d"]]},{"id":"df9a9fc4.3b09d","type":"firebase.once","z":"f63f216a.384d","name":"객실 메시지 DB 읽어오기","firebaseconfig":"","childpath":"/roomMessages","repeatifnull":false,"eventType":"value","queries":[],"x":490,"y":3340,"wires":[["a60da527.b37d98"]]},{"id":"f63ef68e.d0b198","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":1030,"y":3340,"wires":[]},{"id":"a60da527.b37d98","type":"function","z":"f63f216a.384d","name":"데이터 가공 (JSON format)","func":"const datas = [];\n\nfor (var firebaseId in msg.payload) {\n    // 객실 메세지 데이터\n    if (firebaseId !== 'garbage') {\n        var rmMsgInfo = msg.payload[firebaseId];\n        \n        const data = {\n            fid : firebaseId,\n            roomNum : rmMsgInfo.roomNum,\n            message : rmMsgInfo.message\n        };    \n        \n        datas.push(data);\n    }\n}\n\nmsg.payload = datas;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":780,"y":3340,"wires":[["f63ef68e.d0b198"]]},{"id":"e04fba2a.f10b28","type":"ui_toast","z":"f63f216a.384d","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"확인","cancel":"","topic":"처리 완료","name":"처리 완료","x":1060,"y":3640,"wires":[[]]},{"id":"e689df1e.c0ce4","type":"firebase.on","z":"f63f216a.384d","name":"룸 서비스 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/roomMessages","atStart":true,"eventType":"value","queries":[],"x":230,"y":1220,"wires":[["dee2c57.3821238"]]},{"id":"6ac80aca.23d1f4","type":"http response","z":"f63f216a.384d","name":"","statusCode":"","headers":{},"x":590,"y":3920,"wires":[]},{"id":"7a8023da.56e57c","type":"http in","z":"f63f216a.384d","name":"","url":"/keyboard","method":"get","upload":false,"swaggerDoc":"","x":140,"y":3920,"wires":[["f8eb77d4.3cbbf8"]]},{"id":"f8eb77d4.3cbbf8","type":"function","z":"f63f216a.384d","name":"챗봇 키보드 활성화","func":"msg.payload = {\n    'type': 'text'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3920,"wires":[["6ac80aca.23d1f4"]]},{"id":"36f9b369.dea71c","type":"firebase modify","z":"f63f216a.384d","name":"객실 투숙객 DB 업데이트 (kakao user_key 저장 - 인증 성공)","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":1360,"y":4000,"wires":[[]]},{"id":"8ba46989.65fcc8","type":"comment","z":"f63f216a.384d","name":"msg = http response, msg1 = kakaoUserKey, msg2 = doorlock","info":"","x":1080,"y":3900,"wires":[]},{"id":"6e978a3.7eddb74","type":"http request","z":"f63f216a.384d","name":"객실 메시지","method":"POST","ret":"txt","url":"http://localhost:1880/roomMessages","tls":"","x":1210,"y":4060,"wires":[[]]},{"id":"b47033ad.0b1ec","type":"http request","z":"f63f216a.384d","name":"룸 서비스","method":"POST","ret":"txt","url":"http://localhost:1880/roomServices","tls":"","x":1200,"y":4120,"wires":[[]]},{"id":"fcc9d8a3.aa1ea8","type":"mqtt in","z":"f63f216a.384d","name":"","topic":"/rooms/+/humanDetect","qos":"2","broker":"4ede7f19.91995","x":200,"y":120,"wires":[["d4752039.2be28"]]},{"id":"f443a09e.e07b3","type":"comment","z":"f63f216a.384d","name":"인체 감지 MQTT SUB 후 DB 업데이트 (1 - 감지, 0 - 미감지) </rooms/방번호/humanDetect>","info":"","x":370,"y":80,"wires":[]},{"id":"d4752039.2be28","type":"function","z":"f63f216a.384d","name":"객실 번호 추출 후 경로(URL) 설정","func":"var topic = msg.topic.split('/'); // mqtt topic splits based on '/' \n\nvar roomNum = topic[2] + '호'; // extract room number\n\nmsg.childpath = '/rooms/' + roomNum + '/humanDetect';\n\nif(msg.payload === '1') { // 1 == detect\n    msg.payload = '감지';\n} else if(msg.payload === '0') { // 0 == not detect\n    msg.payload = '미감지';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["7ce5ff3d.d6fd6"]]},{"id":"848d3045.6825b","type":"firebase.on","z":"f63f216a.384d","name":"101호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/101호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":240,"wires":[["c828812f.2d5b5"]]},{"id":"702f0513.a1447c","type":"firebase.on","z":"f63f216a.384d","name":"102호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/102호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":280,"wires":[["8223e0c9.8d6ae"]]},{"id":"6ea48d04.200824","type":"comment","z":"f63f216a.384d","name":"객실 상태 MQTT PUB  </rooms/방번호/roomState> ","info":"","x":250,"y":200,"wires":[]},{"id":"72c080f7.41c0b","type":"firebase.on","z":"f63f216a.384d","name":"103호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/103호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":320,"wires":[["c49f9bf3.85d248"]]},{"id":"5773df2a.5cd02","type":"firebase.on","z":"f63f216a.384d","name":"104호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/104호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":360,"wires":[["dbf18ad0.a34a38"]]},{"id":"bcb6f8b9.8fbc88","type":"firebase.on","z":"f63f216a.384d","name":"201호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/201호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":400,"wires":[["cb7dcd5a.9179a"]]},{"id":"1510b7a2.859cf8","type":"firebase.on","z":"f63f216a.384d","name":"202호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/202호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":440,"wires":[["dab03849.7e30e8"]]},{"id":"e6367e5f.2ae3f","type":"firebase.on","z":"f63f216a.384d","name":"203호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/203호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":480,"wires":[["da6dce90.ee0bc"]]},{"id":"be89525d.fba9","type":"firebase.on","z":"f63f216a.384d","name":"204호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/204호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":520,"wires":[["94e91a35.be5a48"]]},{"id":"399e3838.e8e408","type":"firebase.on","z":"f63f216a.384d","name":"301호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/301호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":560,"wires":[["1a9886c4.d02069"]]},{"id":"3660d283.24c32e","type":"firebase.on","z":"f63f216a.384d","name":"302호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/302호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":600,"wires":[["ce960a6e.4a0f18"]]},{"id":"7fd36901.fce0f8","type":"firebase.on","z":"f63f216a.384d","name":"303호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/303호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":640,"wires":[["4b427b90.9f7144"]]},{"id":"1c27d45a.e8179c","type":"firebase.on","z":"f63f216a.384d","name":"304호 객실 DB 읽기 (DB update 시 계속 읽기)","firebaseconfig":"","childpath":"/rooms/304호/roomState","atStart":true,"eventType":"value","queries":[],"x":270,"y":680,"wires":[["c1381a57.6cd258"]]},{"id":"83f8c9e.d0f8938","type":"mqtt out","z":"f63f216a.384d","name":"","topic":"/rooms/202/roomState","qos":"2","retain":"true","broker":"4ede7f19.91995","x":1000,"y":440,"wires":[]},{"id":"13d1454b.5057eb","type":"firebase modify","z":"f63f216a.384d","name":"객실 상태 변환 (외출 -> 실내)","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"실내","priority":"msg.priority","x":1420,"y":4160,"wires":[["dd713c93.53a7a"]]},{"id":"af0a1234.54d6","type":"switch","z":"f63f216a.384d","name":"","property":"roomState","propertyType":"msg","rules":[{"t":"eq","v":"외출","vt":"str"},{"t":"eq","v":"실내","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":4180,"wires":[["13d1454b.5057eb"],["dd713c93.53a7a"]]},{"id":"4d47fd89.94a6a4","type":"firebase modify","z":"f63f216a.384d","name":"객실 DB 업데이트 (객실 상태 : '외출')","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"외출","priority":"msg.priority","x":1290,"y":4260,"wires":[[]]},{"id":"19efc0fa.6a736f","type":"mqtt in","z":"f63f216a.384d","name":"","topic":"/rooms/+/ruleViolation","qos":"2","broker":"4ede7f19.91995","x":200,"y":800,"wires":[["d83573e2.ffef1"]]},{"id":"d83573e2.ffef1","type":"function","z":"f63f216a.384d","name":"객실 번호 추출 후 경로(URL) 설정","func":"var topic = msg.topic.split('/'); // mqtt topic 배열로 추출 \n\nmsg.roomNum = topic[2] + '호'; // 객실 번호 추출\n\nif(msg.payload === '1') {\n    msg.childpath = '/rooms/' + msg.roomNum + '/roomState';\n    msg.payload = '외출';\n} else if(msg.payload === '0') {\n    msg.childpath = '/guests/' + msg.roomNum;\n    msg.payload = '침입';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":800,"wires":[["ea2bce29.4345a"]]},{"id":"ec508051.eef68","type":"comment","z":"f63f216a.384d","name":"객실 상태 규율 위반 SUB (1 - 외출, 0 - 침입) </rooms/방번호/ruleViolated>","info":"","x":320,"y":760,"wires":[]},{"id":"c828812f.2d5b5","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[[]]},{"id":"8223e0c9.8d6ae","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[[]]},{"id":"c49f9bf3.85d248","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[[]]},{"id":"dbf18ad0.a34a38","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":360,"wires":[[]]},{"id":"cb7dcd5a.9179a","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[[]]},{"id":"dab03849.7e30e8","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":440,"wires":[["83f8c9e.d0f8938"]]},{"id":"da6dce90.ee0bc","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":480,"wires":[[]]},{"id":"94e91a35.be5a48","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":520,"wires":[[]]},{"id":"1a9886c4.d02069","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":560,"wires":[[]]},{"id":"ce960a6e.4a0f18","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":600,"wires":[[]]},{"id":"4b427b90.9f7144","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":640,"wires":[[]]},{"id":"c1381a57.6cd258","type":"function","z":"f63f216a.384d","name":"( 2 - 외출, 1 - 실내, 0 - 투숙 가능 )","func":"if(msg.payload === '외출') {\n    msg.payload = 2;\n} else if(msg.payload === '실내') {\n    msg.payload = 1;\n} else if(msg.payload === '투숙 가능') {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":680,"wires":[[]]},{"id":"ea2bce29.4345a","type":"switch","z":"f63f216a.384d","name":"1 : 외출, 2 : 침입","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"외출","vt":"str"},{"t":"eq","v":"침입","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":800,"wires":[["40924639.2281f8"],["8f9b7e78.7c471"]]},{"id":"40924639.2281f8","type":"firebase modify","z":"f63f216a.384d","name":"객실 DB 업데이트 (객실 상태: 외출)","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":1060,"y":800,"wires":[[]]},{"id":"5a24d1ee.c20c","type":"function","z":"f63f216a.384d","name":"알람 설정","func":"msg.payload = msg.pushID;\n\nmsg.topic = msg.req.params.roomNum + ' 추가 키 발급 완료'\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":2140,"wires":[["f292ce34.d0c68"]]},{"id":"e70eaa72.497908","type":"function","z":"f63f216a.384d","name":"침입 발생 SMS API (청기와랩 SMS API)","func":"msg.payload = {\n    'sender': '01020416961',\n    'receivers': [msg.mobile],\n    'content': msg.roomNum + ' 침입 발생!! 호텔에 문의하세요! CCTV 링크: ' + msg.payload.cctv\n},\nmsg.headers = {\n    'Content-Type': 'application/json; charset=utf-8'\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":940,"wires":[["1434c129.8f76ef"]]},{"id":"8f9b7e78.7c471","type":"firebase.once","z":"f63f216a.384d","name":"객실 투숙객 DB 읽어오기","firebaseconfig":"","childpath":"msg.childpath","repeatifnull":false,"eventType":"value","queries":[],"x":710,"y":860,"wires":[["bd14eba4.a0abd8"]]},{"id":"bd14eba4.a0abd8","type":"function","z":"f63f216a.384d","name":"전화 번호 추출 (superUser)","func":"var guests = Object.keys(msg.payload);\n\nif(guests.length !== 0) {\n    msg.mobile = msg.payload[guests[0]].mobile;\n}\n\nmsg.childpath = '/rooms/' + msg.roomNum;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1000,"y":860,"wires":[["3ce8e629.d1185a"]]},{"id":"3ce8e629.d1185a","type":"firebase.once","z":"f63f216a.384d","name":"객실 DB 읽어오기","firebaseconfig":"","childpath":"msg.childpath","repeatifnull":false,"eventType":"value","queries":[],"x":690,"y":940,"wires":[["e70eaa72.497908"]]},{"id":"1434c129.8f76ef","type":"www-request","z":"f63f216a.384d","name":"청기와 LAB OPEN API (가입 후 auth 입력)","method":"POST","ret":"txt","url":"https://api.bluehouselab.com:443/smscenter/v1.0/sendsms","follow-redirects":true,"tls":"","x":1430,"y":940,"wires":[[]]},{"id":"29151da2.cadb22","type":"mqtt out","z":"f63f216a.384d","name":"","topic":"","qos":"2","retain":"true","broker":"4ede7f19.91995","x":1810,"y":4200,"wires":[]},{"id":"dd713c93.53a7a","type":"function","z":"f63f216a.384d","name":"문 열기","func":"msg.payload = 'open';\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":4200,"wires":[["29151da2.cadb22"]]},{"id":"f9b9348a.7bca18","type":"comment","z":"f63f216a.384d","name":"객실 및 투숙객 REST API","info":"","x":130,"y":1460,"wires":[]},{"id":"7ce5ff3d.d6fd6","type":"firebase modify","z":"f63f216a.384d","name":"객실 DB 업데이트 (인체 감지 value)","firebaseconfig":"","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":900,"y":120,"wires":[[]]}]